nav{
  background-color: rgba(24, 21, 21, 0.2);
  position: absolute;
  width: 99%;
  font-family: Roboto, sans-serif;  
}


 #image {
  position: absolute;
  left:10px;top:10px;
  z-index: 1;
  max-height: 80%;

}

nav ul#menu-desktop {
  margin:0;
  padding:0;
  text-align: right;  
}
nav ul#menu-desktop li {
  list-style-type:none;
  display: inline;
}
nav ul#menu-desktop li a:hover {
  background-color: rgba(213,26,44,1);
}




nav ul#menu-desktop li a {
  padding: 20px 30px;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-right: -3px;
  font-family: Roboto, sans-serif;
  font-size: 80%;
  letter-spacing: 0.60
}
main section#tutorial {
  width: 90%;
  max-width: 1500px;
  min-width: 320px;
  margin: 4% auto;
  
  
  
}
main section#tutorial .titulo{
  margin-top: 8%;
 
}
nav ul#menu-desktop #logout{
display: none;
}
nav ul#menu-desktop #esconder{
  display: none;
}
nav ul#menu-desktop #newuser{
  display: none;
}
 
 
 





.tutorial{
  
  width: 90%;
  margin-left: 5%;
  font-family: 'Roboto', sans-serif;  
  padding: 1%;
  text-align: center;
  list-style-type: circle; 
 line-height: 1.5;

}
body{
  background-color:rgba(186, 186, 186, 0.1);
  padding: 0;
}
.log{  
  margin-left: 74.5%;
  margin-top: 3.5%;
  background-color:rgba(186, 186, 186, 0.5);
  padding-right: 3%;
  display: none;
  position: absolute;  
}
.log ul{
  list-style-type: none;
}

.logNew{
  margin-left: 74.5%;
  margin-top: 3.5%;
  background-color:rgba(186, 186, 186, 0.5);
  padding-right: 3%;
  display: none;
  position: absolute;
  
}
.logNew ul li {
list-style-type: none;
padding: 0.1%;
float: left;
clear: both;

}

table {
  font-family: 'Roboto', sans-serif;
  border-collapse: collapse;
  width: 100%;
  display: none;

  
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}


.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
}



